<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>쪽</string>
	<string>장</string>
	<string>개</string>
	<string>문제</string>
	<string>단원</string>
	<string>분</string>
</array>
</plist>
