<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>BY - NC - ND</string>
	<string>BY - ND</string>
	<string>BY - NC - SA</string>
	<string>BY - NC</string>
	<string>BY - SA</string>
	<string>BY</string>
</array>
</plist>
